#------------------------------------------------------------------------------
# Docker Compose environment variables file
#------------------------------------------------------------------------------

# host nginx, and cert mounted volume paths 
# defaults are folders in the top parent directory
NGINX_PATH="./nginx"
NGINX_LOG_PATH="./logs/nginx"
CERTS_PATH="./certs"
CERTS_DATA_PATH="./certs-data"

# host wordpress web mounted volume path
WORDPRESS_FILE_PATH="./wordpress"

# database, path, name, authentication and wordpress table prefix (use "wp_")
MYSQL_PATH="./mysql"
MYSQL_DATABASE_NAME="wordpress"
MYSQL_DATABASE_USERNAME=wpuser
MYSQL_DATABASE_PASSWORD=wpuser_password
MYSQL_ROOT_DATABASE_PASSWORD=your_root_password
WORDPRESS_TABLE_PREFIX="wp_"
